.about {
  color:chartreuse;
  text-decoration: underline;
  background-color: rgb(239, 136, 10);
  font-style: oblique;
  }

  body {
    background-color: black;
    text-align: center;
    color: bisque;
  }

  .important {
    color: crimson;
    font-weight: bolder;
    font-style: italic;
  }

  .tuesday {
    background-color: bisque;
    color: black;
  }

  h2 {
    font-size: 50px;
  }

